@tailwind base;
@tailwind components;
@tailwind utilities;

/* modal.css */

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 50%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.moveCarAnimation {
  animation: carMovement 1s ease-in-out forwards;
}

@keyframes carMovement {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(500px);
  }
}
