@tailwind base;
@tailwind components;
@tailwind utilities;

.moveCarAnimation {
  animation: carMovement 1s ease-in-out forwards;
}

@keyframes carMovement {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(100px);
  }
}
